@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: review;
  src: url(ReviewPoster-Regular-Trial-BF63f6d0dd0681a.otf);
}

:root {
  --primary-colour: #fc9c03;
}

body {
  overflow-x: hidden;
}
/* Utilities */

h1 {
  font-size: 50px;
}

h1 span {
  color: var(--primary-colour);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-con {
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.first-page .btn {
  color: #fff;
}

.first-page .btn2 {
  color: #fff;
}

.btn {
  border: 1px solid var(--primary-colour);
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn2 {
  border: 1px solid var(--primary-colour);
  border-radius: 50%;
  padding: 10px 13px;
  font-weight: normal;
}

.btn3 {
  border: 1px solid #000;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-colour);
  border-radius: 8px;
  width: 100%;
}

/* Nav */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
}

.logo a {
  font-size: 25px;
  text-transform: uppercase;
  font-family: review;
}

.logo a span {
  color: var(--primary-colour);
  font-family: review;
}

.navigation {
  height: 0%;
  width: 100%;
  z-index: 9;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
}

.closebtn {
  font-size: 40px;
  color: #fff;
  text-transform: capitalize;
  top: 0;
  margin-top: 20px;
  right: 0;
  padding: 20px;
  position: absolute;
}

.opennav {
  color: #fff;
  cursor: pointer;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  text-align: center;
  list-style: none;
}

.navigation ul li a {
  color: #4c4c4c;
  text-decoration: none;
  font-size: 3em;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 30px;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}

.navigation ul:hover li a {
  color: #0002;
}
.navigation ul li:hover a {
  color: #fff;
}
.navigation ul li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900px;
  text-transform: uppercase;
  letter-spacing: 500px;
  transform: translate(-50%, -50%);
  transition: letter-spacing 0.5s;
}

.navigation ul a:hover::before {
  content: attr(data-text);
  letter-spacing: 10px;
  opacity: 1;
  left: 50%;
  width: 1800px;
  height: 1800px;
}

.navigation ul li:nth-child(6n + 1) a::before {
  background-color: #0002;
}
.navigation ul li:nth-child(6n + 2) a::before {
  background-color: #0002;
}
.navigation ul li:nth-child(6n + 3) a::before {
  background-color: #0002;
}
.navigation ul li:nth-child(6n + 4) a::before {
  background-color: #0002;
}
.navigation ul li:nth-child(6n + 5) a::before {
  background-color: #0002;
}

/* Pages */

/*  */
.first-page {
  background: url(img/vincent-van-zalinge-d78xhrxAPBI-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover; /* Add this property */
  color: #fff;
}

.text {
  /* border: 2px solid #fc9c03; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}

.text h1 {
  font-size: 80px;
}

.pattern {
  margin-top: 30px;
  margin-bottom: 30px;
  background: url(img/patterndesign.png);
  height: 100px;
}

/*  */
.Content-con {
  padding: 20px;
  margin: 20px auto;
}

.Content-con ul li {
  margin-bottom: 10px;
}

.Content-con h2 {
  color: var(--primary-colour);
  text-align: center;
  margin-left: -10%;
}

.Content-con .img-con {
  height: 500px;
}

.Content-con .splide {
  height: 500px;
  margin: 30px auto;
}

/* Set the height for each Splide slide */
.Content-con .splide__slide {
  height: 500px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-2 {
  flex-basis: 50%;
  padding: 10px;
}

/*  */
footer {
  padding: 60px 40px;
  /* border: 1px solid #000; */
  background-color: var(--primary-colour);
  color: #fff;
}
.footer-content .logo a span {
  color: #000;
}

footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Modal-box */
#modelbox {
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 1); */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 80%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.model-img {
  height: 200px;
  width: 100%;
}

.model-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.offer-text {
  padding: 20px ;
  font-size: 14px;
  line-height: 22px;
}

.offer-text h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 20px;
}

.offer-text form {
  margin-top: 30px;
  display: flex;
  border-radius: 4px;
  background: #efefef;
}

.offer-text form input {
  flex: 1;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 12px 10px;
}

.offer-text form button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background: var(--primary-colour);
  color: #fff;
  padding: 0 15px;
  border-radius: 4px;
}

.close-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  color: #fff;
  padding-top: 5px;
  text-align: center;
  background-color: var(--primary-colour);
  right: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

/*  */
@media screen and (max-width: 768px) {
  .text {
    margin-top: 30%;
    text-align: center;
  }
  .text h1 {
    font-size: 50px;
    text-align: center;
  }
  .text h3 {
    font-size: 15pxx;
  }
  .row {
    flex-direction: column;
  }
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
  }

  .footer-content .footer-logo {
    width: 100%;
  }
  .footer-content .footer-menu {
    width: 100%;
  }
  .footer-content .footer-contact {
    width: 100%;
  }
}
